*{
  font-family: 'Poppins', sans-serif;
}
body{
  overflow-x: hidden;
  overflow-y: auto;
}
.title{
  background-color: #4d95aa;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin:0px;
  color:white;
  margin-bottom: 20px;
}
.expenseField{
  width:150px;
  height:30px;
  font-size: 20px;
  text-align: center;
  border: 1px solid;
  margin-left:10px;
}
.inout{
  color:white;
  font-size:20px;
  width:50px;
  background: #4eaa4d;
  border:none;
  cursor:pointer;
  transition: all 0.5s;
  border-radius: 5px;
}
.screen{
  display: flex;
  justify-content: center;
  margin:10px 0px;
}
.header{
  text-align: center;
  margin:0px;
}
.button{
  height:50px;
  background:beige;
  border:none;
  width:160px;
  margin: 0px 10px;
  font-size: 16px;
}
textarea{
  font-size:16px;
}
#MainScreen{
  display:inline;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
