*{
  font-family: 'Poppins', sans-serif;
}
body{
  overflow-x: hidden;
  overflow-y: auto;
}
.title{
  background-color: #4d95aa;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin:0px;
  color:white;
  margin-bottom: 20px;
}
.inputField{
  width:150px;
  height:30px;
  font-size: 20px;
  text-align: center;
  border: 1px solid;
  margin-left:10px;
}
.inout{
  color:white;
  font-size:20px;
  width:50px;
  background: #c00;
  border:none;
  cursor:pointer;
  border-radius: 5px;
}
.screen{
  display: flex;
  justify-content: center;
  margin:5px 0px;
}
.header{
  text-align: center;
  margin:0px;
}
.button{
  height:50px;
  background:beige;
  border:none;
  width:160px;
  margin: 0px 10px;
  font-size: 16px;
  overflow:hidden;
}
.backbutton{
  height:25px;
  background:beige;
  border:none;
  width:100px;
  margin: 0px;
  margin-bottom:8px;
  font-size: 16px;
}
.single-cats{
  overflow-x: none;
  overflow-y: auto;
}
.single-payee,.single-cat{
  display:none;
  border:2px solid black;
  padding: 10px;
  margin:5px;
}
.cat-p{
  margin: 0px;
}
.split-cats{
  overflow-x: none;
  overflow-y: auto;
}
.split-cat{
  display:none;
  border:2px solid black;
  padding: 10px;
  margin:5px;
}
.split-final-cats{
  overflow-x: none;
  overflow-y: auto;
}
.split-final-cat{
  display:none;
  border:2px solid black;
  padding: 10px;
  margin:5px;
  width:calc(100% - 30px);
}
.split-cat[data-checked='true']{
  background-color: aqua;
}
#overlay-text{
  color: black;
  margin:5px;
}
textarea{
  font-size:16px;
}
#MainScreen{
  display:inline;
}
#SingleCategory{
  display:none;
}
#SplitCategories{
  display:none;
}
#Payees{
  display:none;
}
#Splits{
  display:none;
}
/* #authorize_button,#signout_button{
  bottom: 5px;
  position: fixed;
  left: calc(50% - 90px);
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
